
<div class="wrapper">
  <div class="container">
    <h2>
      <u>You:</u> "<%= @question %>"
    </h2>
    <h2>
      <u>Uncle Drew:</u> "<%=@answer%>"
    </h2>
    <%= link_to("anything else?", "/ask") %>
  </div>
</div>
