<div class="wrapper">
  <div class="container">
    <h1>
      Ask Uncle Drew
    </h1><br>

    <form action="/answer" method="get">
      <input type="text" name="question" placeholder="Ask the Coach!">
      <input type="submit" name="submit">
    </form>
  </div>
</div>
